{% load static %}
{% block body %}

{% include 'navigation.html' %}

<style>
    .container{
    max-width :90%
    }
    .content{
    text-align:center;
    position:absolute;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color:white;
    height:30px ;
    width:91%

    }
</style>

<div class="container-fluid" style="margin-top:1%">
<img src="{% static 'images/img_1.png' %}" style="height:450px;width:100%">
</div>

<div class="container" style="background-color:lightgreen ; height:570px ; margin-top:2%">
<h1 class="text-center text-green">--------| OUR PLACED STUDENTS |--------</h1>
    <div class="row mt-4">

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent1.png' %}" style="width:100% ; margin-top:5%; height:200px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Facebook</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent2.png' %}" style="width:100% ; margin-top:5%; height:400px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Cisco</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent3.png' %}" style="width:100% ; margin-top:5%; height:200px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Amazon</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent4.png' %}" style="width:100% ; margin-top:5%; height:200px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Microsoft</p>
            </div>
        </div>

        <br>
        <div class="col-md-3">
            <img src="{% static 'images/placedstudent5.png' %}" style="width:100% ; margin-top:5%; height:400px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Reliance</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent6.png' %}" style="width:100% ; margin-top:5%; height:400px;height:200px; border-radius:50%">
            <div class="content" >
                <p>Oracle</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent7.png' %}" style="width:100% ; margin-top:5%; height:200px;height:200px; border-radius:50%">
            <div class="content" >
                <p>TCS</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/placedstudent8.png' %}" style="width:100% ; margin-top:5%; height:200px;height:200px; border-radius:50%">
            <div class="content" >
                <p>intel</p>
            </div>
        </div>
        
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}