{% load static %}
{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family:'Monotype Corsiva' font-size:25px ; color : darkcyan ; background-color:black ; font-weight : bold ; margin-top:1%">
    User Login
</marquee>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email ID</b></label>
    <input type="email" class="form-control" name="uname" placeholder="enter email id">

     <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="enter Password">

    <input type="submit" value="Login" class="btn btn-primary" style="margin-top:2% ; color:drakcyan ; background-color: red ; height:40px ;font-size:20px">
    <a href="{% url 'user_signup' %} " class="btn-primary" style="font-family:'Monotype Corsiva' font-size:25px ; color : darkcyan ; background-color:black ; font-weight : bold ; margin-top:1%">CREATE ACCOUNT</a>


</form>

{% include 'footer.html' %}

{% if error == "no"  %}
<script>
    alert("login Successful");
    window.location = ('{% url 'user_home' %}')
</script>
{% endif   %}

{% if error == "yes"  %}
<script>
    alert("Invalid Login Credentials,Try Again.."
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("your login status is pending");
</script>
{% endif %}


{% endblock body %}